
#a-title {
    display: flex;
    align-items: center; 
    white-space: nowrap; 
}

#logo {
    height: 30px; 
    width: auto; 
    margin-right: 10px; 
}

.title-name {
    color: conifer; 
    font-size: 24px;
}
