
#logo {
    display: flex;
    align-items: center; /* Centers the logo and text vertically */
    font-size: 24px; /* Adjust the font size as needed */
    color: #ffffff; /* Adjust text color as needed */
}
#logo img{
    margin-right: 10px;
}
