
#logo {
    display: flex;
    align-items: center; 
    font-size: 24px; 
    color: #ffffff;
}
#logo img{
    margin-right: 10px;
}
.title-name {
    color: conifer;  /* Specific color */
    font-size: 24px;  /* Specific size */
}
