<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
     {%include head-custom.html%}

{% seo %}
  </head>

  <body>

<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
      <img id="logo" src="{{ '/assets/images/logokkauserr.png' | relative_url }}" alt="Jameela Kauser Logo">
      <span class="title-name">Jameela Kauser</span>
    </a>
    <h2>coding with a dash of caffeine</h2>

    <section id="downloads">
      <a href="{{ '/about-me' | relative_url }}" class="btn">About Me</a>
      <a href="{{ '/education' | relative_url }}" class="btn">Education</a>
      <a href="{{ '/skills' | relative_url }}" class="btn">Skills</a>
      <a href="{{ '/projects' | relative_url }}" class="btn">Projects</a>
      <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
  </div>
</header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
